@{
    ViewBag.Title = "О сервисе";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Интегратор русскоязычных онлайн-курсов. 
    Здесь можно найти курсы с различных MOOC-платформ, таких как Интуит, Лекториум и др.</p>
