@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Выпускная квалификационная работа бакалавра<br />
    Пермь, ПГНИУ<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:alla100lnikova@gmail.com">alla100lnikova@gmail.com</a><br />
</address>