@{
    ViewBag.Title = "Интегратор русскоязычных курсов";
}

    <form class="form-inline my-1 my-lg-5">
        <input class="form-control mr-md-2" type="text" placeholder="Поиск">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Поиск</button>
        <label class="lable-title-new">Может быть интересно:</label>
    </form>

    <div class="row">
            <div class="col-xl-3">

                <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-primary btn-lg btn-block">
                            <input type="checkbox" checked="" autocomplete="off"> С cертификатом
                        </label>
                    </div>
                </div>
                <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-primary">
                            <input type="checkbox" checked="" autocomplete="off"> Школа
                        </label>
                        <label class="btn btn-primary">
                            <input type="checkbox" autocomplete="off">
                            Высшее <br>
                            образование
                        </label>
                        <label class="btn btn-primary">
                            <input type="checkbox" autocomplete="off">
                            Повышение <br>
                            квалиф-ции
                        </label>
                    </div>
                 </div>

                    <div class="card border-secondary mb-3" style="max-width: 20rem;">
                        <div class="card-header">Предметная область</div>
                        <div class="card-body" id="CardBodySubject">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-outline-primary btn-lg btn-block">
                                    <input type="checkbox" checked="" autocomplete="off"> Астрономия
                                </label>
                            </div>         
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-outline-primary btn-lg btn-block">
                                    <input type="checkbox" checked="" autocomplete="off"> Биология
                                </label>
                            </div>  
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-outline-primary btn-lg btn-block">
                                    <input type="checkbox" checked="" autocomplete="off"> География
                                </label>
                            </div> 
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-outline-primary btn-lg btn-block">
                                    <input type="checkbox" checked="" autocomplete="off"> Геология
                                </label>
                            </div>
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-outline-primary btn-lg btn-block">
                                    <input type="checkbox" checked="" autocomplete="off"> Информатика
                                </label>
                            </div>
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-outline-primary btn-lg btn-block">
                                    <input type="checkbox" checked="" autocomplete="off"> Искусство
                                </label>
                            </div>
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-outline-primary btn-lg btn-block">
                                    <input type="checkbox" checked="" autocomplete="off"> Культурология
                                </label>
                            </div>
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-outline-primary btn-lg btn-block">
                                    <input type="checkbox" checked="" autocomplete="off"> Математика
                                </label>
                            </div>
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-outline-primary btn-lg btn-block">
                                    <input type="checkbox" checked="" autocomplete="off"> Медицина
                                 </label>
                            </div>
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-outline-primary btn-lg btn-block">
                                    <input type="checkbox" checked="" autocomplete="off"> Менеджмент
                                </label>
                            </div>
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-outline-primary btn-lg btn-block">
                                    <input type="checkbox" checked="" autocomplete="off"> Педагогика
                                </label>
                            </div>
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-outline-primary btn-lg btn-block">
                                    <input type="checkbox" checked="" autocomplete="off"> Политология
                                </label>
                            </div>
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-outline-primary btn-lg btn-block">
                                    <input type="checkbox" checked="" autocomplete="off"> Психология
                                </label>
                            </div>
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-outline-primary btn-lg btn-block">
                                    <input type="checkbox" checked="" autocomplete="off"> Социология
                                </label>
                            </div>
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-outline-primary btn-lg btn-block">
                                    <input type="checkbox" checked="" autocomplete="off"> Физика
                                </label>
                            </div>
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-outline-primary btn-lg btn-block">
                                    <input type="checkbox" checked="" autocomplete="off"> Филология
                                </label>
                            </div>
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-outline-primary btn-lg btn-block">
                                    <input type="checkbox" checked="" autocomplete="off"> Философия
                                </label>
                            </div>
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-outline-primary btn-lg btn-block">
                                    <input type="checkbox" checked="" autocomplete="off"> Химия
                                </label>
                            </div>
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-outline-primary btn-lg btn-block">
                                    <input type="checkbox" checked="" autocomplete="off"> Экономика
                                </label>
                            </div>
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-outline-primary btn-lg btn-block">
                                    <input type="checkbox" checked="" autocomplete="off"> Юриспруденция
                                </label>
                            </div>
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-outline-primary btn-lg btn-block">
                                    <input type="checkbox" checked="" autocomplete="off"> Другое
                                </label>
                            </div>               
                         </div>
                    </div>

                    <div class="card border-primary mb-3" style="max-width: 20rem;">
                        <div class="card-header">Институт</div>
                        <div class="card-body">
                            <div class="card-body" id="CardBodyUniversity">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-secondary btn-lg btn-block">
                                        <input type="checkbox" checked="" autocomplete="off"> МГУ
                                    </label>
                                </div>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-secondary btn-lg btn-block">
                                        <input type="checkbox" checked="" autocomplete="off"> МФТИ
                                    </label>
                                </div>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-secondary btn-lg btn-block">
                                        <input type="checkbox" checked="" autocomplete="off"> СПбГУ
                                    </label>
                                </div>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-secondary btn-lg btn-block">
                                        <input type="checkbox" checked="" autocomplete="off"> СПбГПУ
                                    </label>
                                </div>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-secondary btn-lg btn-block">
                                        <input type="checkbox" checked="" autocomplete="off"> УрФУ
                                    </label>
                                </div>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-secondary btn-lg btn-block">
                                        <input type="checkbox" checked="" autocomplete="off"> НИУ ВШЭ
                                    </label>
                                </div>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-secondary btn-lg btn-block">
                                        <input type="checkbox" checked="" autocomplete="off"> НГУ
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card border-secondary mb-3" style="max-width: 20rem;">
                        <div class="card-header">Провайдер</div>
                        <div class="card-body">
                            <div class="card-body" id="CardBodyProvider">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-primary btn-lg btn-block">
                                        <input type="checkbox" checked="" autocomplete="off"> Интуит
                                    </label>
                                </div>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-primary btn-lg btn-block">
                                        <input type="checkbox" checked="" autocomplete="off"> Лекториум
                                    </label>
                                </div>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-primary btn-lg btn-block">
                                        <input type="checkbox" checked="" autocomplete="off"> Универсариум
                                    </label>
                                </div>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-primary btn-lg btn-block">
                                        <input type="checkbox" checked="" autocomplete="off"> Distant.msu
                                    </label>
                                </div>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-primary btn-lg btn-block">
                                        <input type="checkbox" checked="" autocomplete="off"> Stepik
                                    </label>
                                </div>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-primary btn-lg btn-block">
                                        <input type="checkbox" checked="" autocomplete="off"> Arzamas Academy
                                    </label>
                                </div>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-primary btn-lg btn-block">
                                        <input type="checkbox" checked="" autocomplete="off"> УниверТВ
                                    </label>
                                </div>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-primary btn-lg btn-block">
                                        <input type="checkbox" checked="" autocomplete="off"> ПостНаука
                                    </label>
                                </div>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-primary btn-lg btn-block">
                                        <input type="checkbox" checked="" autocomplete="off"> Университет без границ
                                    </label>
                                </div>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-primary btn-lg btn-block">
                                        <input type="checkbox" checked="" autocomplete="off"> Национальная платформа
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card border-primary mb-3" style="max-width: 20rem;">
                        <div class="card-header">Время начала</div>
                        <div class="card-body">
                            <div class="card-body" id="CardBodyStartTime">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-secondary btn-lg btn-block">
                                        <input type="checkbox" checked="" autocomplete="off"> Скоро старт
                                    </label>
                                </div>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-secondary btn-lg btn-block">
                                        <input type="checkbox" checked="" autocomplete="off"> Идёт
                                    </label>
                                </div>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-secondary btn-lg btn-block">
                                        <input type="checkbox" checked="" autocomplete="off"> Можно записаться
                                    </label>
                                </div>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-secondary btn-lg btn-block">
                                        <input type="checkbox" checked="" autocomplete="off"> Завершён
                                    </label>
                                </div>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-secondary btn-lg btn-block">
                                        <input type="checkbox" checked="" autocomplete="off"> Всегда открыт
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="col-lg-6">
                <label class="lable-title-new">Найдено курсов по запросу: </label>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Название</th>
                            <th scope="col">Предметная <br> область</th>
                            <th scope="col">Время <br> начала</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-primary">
                            <th scope="row">Primary</th>
                            <td>Column content</td>
                            <td>Column content</td>
                        </tr>
                        <tr class="table-secondary">
                            <th scope="row">Secondary</th>
                            <td>Column content</td>
                            <td>Column content</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xl-3">
                <div class="card border-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h4 class="card-title">Primary card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card border-secondary mb-3" style="max-width: 20rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h4 class="card-title">Secondary card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
</div>